@font-face {
    font-family: 'Fixedsys Excelistor 3.01';
    src: url('fixedsys_excelsior.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
    font-display: swap;  /* Important for performance */
}

body {
    font-family: 'Fixedsys Excelistor 3.01', sans-serif;
}

header{
    border-bottom: 4px solid  #047e7e;
    color: #047e7e;
    padding: 20px auto;
    position: fixed;
    top: 0;
    left: 0;
    z-index: 999;
    width: 100vw;
    background-color:  #06ffff;

}

header > h1{
    font-size: 40px;
    text-align: center;
    margin: 0;
}

main, section{
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    gap:20px;
    border-bottom: 4px solid  #D3D3D3;
    padding: 50px 100px;
    text-align: center;
}

main{
    background: url('video.gif') center/cover no-repeat fixed;
    height: 100vh;
}

main > div{
    background-color:  #ffff04;
    position: absolute;
}

section{
    color: #ffffff;
}

ul {
    list-style-type: none;
    padding-left: 0; /* Also remove default padding */
}

#big-download{
    width: 100%;
    max-width: 400px;
    height: 50px;
    margin: 50px;
}

.member{
    display: flex;
    width: 100%;
    max-width: 1000px;
    justify-content: space-between;
    align-items: center;
    text-align: end;
    font-size: 24px;
    border-color: #ffffff;
}

.member > img{
    width: 250px;
}

footer{
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 40px;
    padding: 50px;
    background-color:  #fe00ff;
    color: black;
}

footer > img{
    width: 100px;
}